
#content  {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  border: none;
  transform: translate(-50%, -50%);
  color: #e6e6e6;
}

/*astronaut holding home sign*/
#home   {
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  height: 15%;
}

/************   Media  selectors  ******************/

/*  change design to one column when using small devices*/
@media only screen and (max-width: 660px)
      {

header  {
      background-color: transparent;
        }

#content  {
  position: absolute;
  top: 12%;
  left: 25%;
  color: #e6e6e6;
  transform: none;
}

#home  {
  position: fixed;
  left: .5rem;
  bottom: .5rem;
}

} /* end of media queries  */
